<% if resource.errors.any? %>
  <div id="error_explanation">
    <ul style="display: inline-block; list-style-position: inside;">

      <% resource.errors.full_messages.each do |message| %>
        <li style="text-align: center; list-style: none"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
